<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h3>This student just requested a trial!</h3>
<p>
  <b>Name: </b> <%= @user.full_name %>
  <br>
  <b>Email: </b> <%= @user.email %>
  <br>
  <%= link_to "Click here to see student's profile", @user %>
  <br>
  <br>
  Masuta
</p>
</body>
</html>
