
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>You have received a message from an unauthenticated user using the Contact Page.</h3>
    <p>
      <b>Name: </b> <%= @name %>
      <br>
      <b>Email: </b> <%= @email %>
    </p>
    <p><%= @message %></p>
  </body>
</html>