<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h3>Thank you for requesting a trial!</h3>
<p>
  Your teacher will contact you as soon as possible!
  <br>
  <br>
  Masuta
</p>
</body>
</html>
