<div class="px-6 flex justify-center text-center">
  <h1 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl text-indigo-800" style="font-family: 'Action Jackson', cursive, sans-serif;"><%= @text %></h1>
</div>