<br>
<div class="container mx-auto px-16">
  <div class="flex justify-center">
    <%= image_tag "yuki3.jpg", class: "h-32 rounded-full", alt:"yukiko" %>
  </div>
  <div class="flex">
    <div class="flex-initial text-gray-700 px-4 py-2 m-2">
      <p>
        私の名前はゆきこです。カナダのケベック州に住んでいます。２０１８年から日本語を教える仕事を始めて、世界中の生徒さんに日本語を教えてきました。2600回以上のオンラインレッスン経験があります。（２０２０年８月時点）初心者から上級者まで教えることができます。ぜひ私と一緒に楽しく日本語を勉強しましょう。
        <br><br>
        I’m Yukiko and I’ve currently lived in Quebec, Canada. I’ve been teaching Japanese to students all over the world  since 2018. I have more than 2600 online lessons experiences ( As of August, 2020 ).  I’m able to teach beginners to advance. Let’s have fun learning Japanese together!
      </p>
    </div>
  </div>
</div>