<br>
<div class="container mx-auto px-16">
  <div class="flex justify-center">
    <%= image_tag "yuki1.jpg", class: "h-32 rounded-full", alt:"yukiko" %>
  </div>
  <div class="flex">
    <div class="flex-initial text-gray-700 px-4 py-2 m-2">
      <p>
        Hi, I'm Yukiko and currently live in Montreal, Canada. I'm learning languages which are English and French. It's really fun! I thought it would be also fun to teach my native language and share the culture. So I started teaching Japanese professionally on April 2018. I have about two years of teaching experience but I already have taught 1900 Japanese lessons (as of March 2020) and I built up own teaching style.
      </p>
    </div>
  </div>
</div>