<%# content_for :bg_image do %>
<%# home1.jpg %>
<%#end %>
<br />
<br />
<div class="text-center">
  <span class="text-3xl">Learn Japanese</span>
</div>
<%= image_tag "bg3.png", style: "display: block; margin-left: auto; margin-right: auto; width: 70%;" %>
